/*.scale-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.page {
  width: 1728px;
  height: 9039px;
  transform-origin: top left;
  position: absolute; 
}


.test {
  background-color: black;
  width: 200px;
  height: 50px;
  color: white;
  text-align: center;
}

*/

/* Head */


html {
  font-size: 16px;
}


.head {
  /* Head */


  width: 100vw;
  height: 14vw;
  background-color: black;

}


.textframe {
  transform: translateX(10vw);
}

.headline {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 3vw;
  color: #FF6400;
}

.headline .span {
  font-family: "Noto Serif";
  font-weight: 700;
  font-style: italic;

}

.icon-hover {
  fill: #FF6400;
}

.icon {
  fill: #ffffff;
}

.paragraph {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 2.2vw;

}

.paragraph-white-line {
  font-family: "DM Sans";
  width: fit-content;
  height: fit-content;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.2vw;
  text-decoration-line: underline;
}

.paragraph-white-line-hover {
  font-family: "DM Sans";
  width: fit-content;
  height: fit-content;
  color: #FF6400;
  font-weight: 400;
  font-size: 1.2vw;
  text-decoration-line: underline;
}

.foot-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 1.3vw;
}

/*Wir machen nun so: bodyframe hat nix Höhe und gggf. auch keine Breite, 
die Höhe wird von den Responsiven Elementen vorgegeben, die dann übereinandergestapelt ssind

/* LANDINGPAGE/HOME */





/*FIGMA-DATA: 
Die Landing Page ist 9039 lang -> alles an y-Coords muss /9039 gerechnet werden, um die % zu berechnen.
Der Body hat schon dem der Länge der Figma-Landingpage entsprechenden Länge, also kann mit % darin gearbeitet werden.
*/


#nicetry {
  position: absolute;
  /* wird aus dem Dokumentenfluss enfernt, d.h. muss nicht unbedingt an ein voriges Element folgen! */
  width: 100%;
  top: 1%;
  /* Hier kann man aus dem Figma-CSS die Position in px übernehmen bzw in % auf die gesamtlänge/breite umgerechnet übernehmen */

  display: inline-block;
  /*transform: rotate(12deg);*/

}


#nicetryvector {


  /* nice_try */

  position: absolute;
  height: 1719.71px;
  left: -29.28%;
  right: -3.79%;
  top: -0.18%;
  bottom: 81.15%;


  transform: rotate(1.44deg);

}

/*
#pngimagetest {



position: absolute;
width: 2299.44px;
height: 1719.71px;
left: -506px;
top: -16px;

transform: rotate(1.44deg);

}

*/


/* War nur zum Testen ob man auch Rotaten kann um den Corner-Winkel zu ändern
.leftuppercorner {
  transform: rotate(10dg);
}

.leftbottomcorner{
  transform: rotate(());
}*/


html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}