/*.scale-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.page {
  width: 1728px;
  height: 9039px;
  transform-origin: top left;
  position: absolute; 
}


.test {
  background-color: black;
  width: 200px;
  height: 50px;
  color: white;
  text-align: center;
}

*/

/* Head */


.head-instance {
  /* Head */

position: fixed;
left: 0%;
right: 0%;
top: 0%;
bottom: 95.59%;
height: 20vh;
background-color: black;

}

.logo-head-instance {

  /*TODO: Copy position etc from Figma CSS*/

  /* Logo head */

  /* TODO: Adjust width/height to be responsive, not fixed*/

position: absolute;

height: 50%;
left: 2%;
top: 15%;


}


  /* body-instance: wie kam die height zustande?  so: 
  sichtbarer Frame ist ca von 0 bis 900 px. (entspricht 100vh)
  LandingPage ist gesamt 9039 lang. 
  Es müsssen also 10 so frames/viewports platz haben! daher 1000vh
    */


    /*
.body-instance {
  position: absolute;
  width: 100vw;
  

  height: 1000vh; 
  background-color: #f5f5f5;
}

*/


/* Neue Variante vom Bodyframe: direkt CSS für das ganze Teil 
von Figma kopiert! 
Hat in Figma keine CSS-Relevanten Parents, eig. genau wie hier!
ausser ggf. root. 

Ist noch nicht responsive, ggf. muss pixelumrechnung passieren.
*/

/* LANDINGPAGE/HOME */

.body-instance{

  position: relative;
width: 100vw;
height: 1000vh;

background: #FFFFFF;
}





/*FIGMA-DATA: 
Die Landing Page ist 9039 lang -> alles an y-Coords muss /9039 gerechnet werden, um die % zu berechnen.
Der Body hat schon dem der Länge der Figma-Landingpage entsprechenden Länge, also kann mit % darin gearbeitet werden.
*/


#nicetry {
position: absolute; /* wird aus dem Dokumentenfluss enfernt, d.h. muss nicht unbedingt an ein voriges Element folgen! */
width: 100%;
top:1%; /* Hier kann man aus dem Figma-CSS die Position in px übernehmen bzw in % auf die gesamtlänge/breite umgerechnet übernehmen */  

display: inline-block;
transform: rotate(12deg);

}

/*
#pngimagetest {



position: absolute;
width: 2299.44px;
height: 1719.71px;
left: -506px;
top: -16px;

transform: rotate(1.44deg);

}

*/

#aussicht {
position: absolute; /* wird aus dem Dokumentenfluss enfernt, d.h. muss nicht unbedingt an ein voriges Element folgen! */
width: 100%;
top:22%; 
display: inline-block;
transform: rotate(-12deg);
}

/* War nur zum Testen ob man auch Rotaten kann um den Corner-Winkel zu ändern
.leftuppercorner {
  transform: rotate(10dg);
}

.leftbottomcorner{
  transform: rotate(());
}*/


html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}